SW_PISCLIENT/SW_PISCLIENT/Web References/SW_PISSource/SW_PISSource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPISInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="alng_visitId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPISInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPISInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogPISInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="alng_visitId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="astr_message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogPISInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogPISInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPISInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPISInfo" />
  </wsdl:message>
  <wsdl:message name="GetPISInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPISInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LogPISInfoSoapIn">
    <wsdl:part name="parameters" element="tns:LogPISInfo" />
  </wsdl:message>
  <wsdl:message name="LogPISInfoSoapOut">
    <wsdl:part name="parameters" element="tns:LogPISInfoResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPISInfoHttpGetIn">
    <wsdl:part name="alng_visitId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPISInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="LogPISInfoHttpGetIn">
    <wsdl:part name="alng_visitId" type="s:string" />
    <wsdl:part name="astr_message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogPISInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPISInfoHttpPostIn">
    <wsdl:part name="alng_visitId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPISInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="LogPISInfoHttpPostIn">
    <wsdl:part name="alng_visitId" type="s:string" />
    <wsdl:part name="astr_message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogPISInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SW_PISSourceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <wsdl:input message="tns:GetPISInfoSoapIn" />
      <wsdl:output message="tns:GetPISInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <wsdl:input message="tns:LogPISInfoSoapIn" />
      <wsdl:output message="tns:LogPISInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SW_PISSourceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <wsdl:input message="tns:GetPISInfoHttpGetIn" />
      <wsdl:output message="tns:GetPISInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <wsdl:input message="tns:LogPISInfoHttpGetIn" />
      <wsdl:output message="tns:LogPISInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SW_PISSourceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <wsdl:input message="tns:GetPISInfoHttpPostIn" />
      <wsdl:output message="tns:GetPISInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <wsdl:input message="tns:LogPISInfoHttpPostIn" />
      <wsdl:output message="tns:LogPISInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SW_PISSourceSoap" type="tns:SW_PISSourceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <soap:operation soapAction="http://tempuri.org/GetPISInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <soap:operation soapAction="http://tempuri.org/LogPISInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SW_PISSourceSoap12" type="tns:SW_PISSourceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPISInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <soap12:operation soapAction="http://tempuri.org/LogPISInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SW_PISSourceHttpGet" type="tns:SW_PISSourceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <http:operation location="/GetPISInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <http:operation location="/LogPISInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SW_PISSourceHttpPost" type="tns:SW_PISSourceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPISInfo">
      <http:operation location="/GetPISInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogPISInfo">
      <http:operation location="/LogPISInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SW_PISSource">
    <wsdl:port name="SW_PISSourceSoap" binding="tns:SW_PISSourceSoap">
      <soap:address location="http://172.100.100.96/SW_PISSource/SW_PISSource.asmx" />
    </wsdl:port>
    <wsdl:port name="SW_PISSourceSoap12" binding="tns:SW_PISSourceSoap12">
      <soap12:address location="http://172.100.100.96/SW_PISSource/SW_PISSource.asmx" />
    </wsdl:port>
    <wsdl:port name="SW_PISSourceHttpGet" binding="tns:SW_PISSourceHttpGet">
      <http:address location="http://172.100.100.96/SW_PISSource/SW_PISSource.asmx" />
    </wsdl:port>
    <wsdl:port name="SW_PISSourceHttpPost" binding="tns:SW_PISSourceHttpPost">
      <http:address location="http://172.100.100.96/SW_PISSource/SW_PISSource.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>